* {
    padding: 0px;
    border: 0px;
    margin: 0px;
}

.bar {
    background-color: red;
    display:inline-block;
    width: 4px;
}

.algorithms {
    font-weight: bolder;
    font-size: 17px;
}

.graph {
    height: auto;
    padding: 5px;
    border: 2px solid black;
    margin: 5px;
}

.box {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;
}

.box > * {
    margin-bottom: 40px;
}

.slider {
    cursor: col-resize;
    border: 100px;
}

.sliderContainer {
    font-size: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

button {
    padding: 10px;
    border: 5px solid black;
    margin: 5px;
    background-color: #4d79ff;
    color: white;
    font-weight: bolder;
    cursor: pointer;
}

button:hover {
    background-color: #0040ff;
}

button:active {
    box-shadow: 0 2px #666;
    transform: translateY(2px);
}

footer {
    font-size: 20px;
    margin: 10px;
}